<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <!-- Opción 1: Seguridad integrada (Windows Auth) -->
        <!--  <add name="CustomerOrdersDB"
             connectionString="Data Source=localhost;Initial Catalog=CustomerOrdersDB;Integrated Security=True;"
             providerName="System.Data.SqlClient" />
        -->
        <!-- Opción 2: Autenticación SQL (plantilla, no dejar credenciales reales) -->
        <add name="CentroAcopioDB"
             connectionString="Data Source=localhost;Initial Catalog=centro_acopio;User ID=centro_user;Password=ContraseñaSegura123!;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>